@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Bungee&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Oswald:wght@200..700&display=swap');
p {
      font-family: "Oswald", sans-serif;

}
h1 {
    font-family: "Merriweather", serif;
    font-weight: lighter;
}
#para{
        font-family: "Bungee", sans-serif;
}